@import "@scss/Variables.scss";

.geo-coords {
    background-color: white;
    width: 50%;

    h2 {
        color: $main-heading-color;
        text-align: center;
    }

    p {
        color: rgba(127, 127, 127, 0.687);
        font-size: 1.1em;
    }

    .error {
        color: rgb(169, 0, 0);
        text-align: center;
    }
}