@import "@scss/Variables.scss";

.geo-coords {
    background-color: white;
    width: 50%;

    h2 {
        color: $main-heading-color;
        text-align: center;
    }

    span {
        color: rgba(102, 101, 101, 0.687);
        font-size: 1.1em;

        margin: 3px 0;
    }

    .error {
        color: rgb(169, 0, 0);
        text-align: center;
    }
}

span.title {
    margin: 0 10px 0 0;
}