@import "@scss/Variables.scss";

.btn-geolocate {
  width: 50%;
  padding: 10px 10px 10px 10px;

  color: $main-heading-color;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: -1px;

  &:hover {
    border-color: $form-btn-hover-border-color;
    border-style: solid;
    color: $form-btn-hover-border-color;
    font-weight: 600;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}