$form-background-color: rgb(255, 255, 255);

$form-btn-hover-background-color: rgba(202, 202, 202, 0.2);
$form-btn-background-color: rgba(68, 94, 107, 0.367);
$form-btn-border-color: white;

$form-btn-text-color: rgb(109, 109, 109);
$form-btn-hover-border-color: rgb(30, 90, 120);

$form-input-placeholder-text-color: rgba(30, 90, 120, 0.242);
$form-input-border-color: rgba(68, 94, 107, 0.367);

.main-form-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  padding: 10px 25px 20px 25px;
  display: flex;
  flex-direction: column;
  background-color: $form-background-color;
  border-radius: 5px;
}

.app-title {
  color: rgb(30, 90, 120);
  font-size: 1.75em;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: center;
}

.greeting {
  color: rgba(127, 127, 127, 0.687);
  font-size: 1.1em;
  font-weight: 300;
  letter-spacing: -.9px;
  text-align: center;
}

.label-email,
.label-pass {
  color: $form-btn-text-color;
  font-weight: 200;
  letter-spacing: 1.2px;

}

hr {
  color: black;
  border-width: 1px;
}


.input-email-form,
.input-pass-form {
  border: 1.2px solid $form-input-border-color;
}

.form-container input::placeholder {
  color: $form-input-placeholder-text-color;
  // color: $form-btn-hover-border-color;
}

.button-styles {
  color: $form-btn-text-color;
  padding: 4px 0 4px 0;
  border-color: transparent;
  transition: transform 0.2s;
  letter-spacing: .5px;
}

.button-styles:not(:disabled):hover {
  background: $form-btn-hover-background-color;
  border-color: $form-btn-hover-border-color;
  border-width: 0.125rem;
  color: $form-btn-hover-border-color;
  font-weight: 800;
  letter-spacing: 1px;
  transform: scale(1.01);
}

.button-styles:not(:hover):active,
.button-styles:hover:active {
  background-color: orange;
  border-color: orange;
}