$form-background-color: rgb(255, 255, 255);

$form-btn-background-color: rgba(68, 94, 107, 0.367);
$form-btn-border-color: white;
$form-btn-text-color: white;
$form-btn-active-background-color: rgb(216, 216, 216);
$form-btn-hover-border-color: rgb(68, 94, 107);
$form-btn-hover-background-color: white;

$form-input-placeholder-text-color: rgba(186, 186, 186, 0.608);
$form-input-border-color: rgba(144, 144, 144, 0.561);


.main-form-container {
  width: 100%;
}

.app-title {
  padding: 0;
  margin: 0;

  color: black;
  font-size: 1.75em;
  font-weight: 600;
  letter-spacing: -.5px;
  text-align: center;
}

.greeting {
  color: rgba(127, 127, 127, 0.687);
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: -.9px;
  text-align: center;
}

.label-email,
.label-pass {
  color: black;
  font-weight: 200;
  letter-spacing: 1.2px;

}

hr {
  color: black;
}

.form-container {
  color: black;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 0;
  margin: 0;

  width: 100%;
  background-color: $form-background-color;
}

.input-email-form,
.input-pass-form {
  border: 1.2px solid $form-input-border-color;
}

.form-container input::placeholder {
  color: $form-input-placeholder-text-color;
}

.button-styles {
  color: $form-btn-text-color;

  background: $form-btn-background-color;
  border-color: $form-btn-border-color;
  border-style: solid;
  border-width: 0.125rem;

  box-sizing: border-box;
  display: inline-block;
  letter-spacing: 0.1em;
  transition: transform 0.2s;

  width: 100%;
}

.button-styles:not(:disabled):hover {
  background: $form-btn-hover-background-color;
  border-color: $form-btn-hover-border-color;
  border-width: 0.125rem;
  color: $form-btn-background-color;
  transform: scale(1.01);
}

.button-styles:not(:hover):active,
.button-styles:hover:active {
  background-color: $form-btn-active-background-color;
}