html {}

body {
  background-color: rgb(194, 194, 194);
  margin: 0;
  padding: 0;
  color: black;
  font-size: 16px;
  font-family: Arial, sans-serif, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}