$main-heading-color: rgb(32, 113, 153);

$form-background-color: rgb(255, 255, 255);

$form-btn-hover-background-color: rgba(202, 202, 202, 0.2);
$form-btn-background-color: rgba(68, 94, 107, 0.367);
$form-btn-border-color: white;

$form-btn-text-color: rgb(109, 109, 109);
$form-btn-hover-border-color: rgb(30, 90, 120);
$form-btn-initial-hover-border-color: rgba(37, 79, 100, 0.509);

$form-input-placeholder-text-color: rgba(47, 72, 85, 0.353);
$form-input-border-color: rgba(68, 94, 107, 0.367);